<!-- // loading.ejs-->

<link rel="stylesheet" href="css/loading.css">

<h1 class="page-title text-center">A gerar texto com IA...</h1>




<div class="border border-primary p-3 m-4 rounded shadow text-center loading-container" id="container">
  <img src="images/logo.png" id="img" class="loading-image">
</div>



