<h1 class="page-title">Resultados finais</h1>

<div class="container">
  <div id="results-container"></div>
  <div class="row text-center">
  <div>
    <button class="black-button mt-5" onclick="window.location.href='/';">
      Menu Inicial
    </button>
  </div>
</div>
</div>

<script src="/js/show-hide-content.js"></script>
