<div class="page-title">Votação</div>

<div class="text-center justify-content-center">
  <div class="mb-4 col-9 mx-auto">
  
  <h3>
    Classifique cada texto gerado através da sessão de Brainstorming e submeta os seus votos no final da página
  </h3>
</div>
  
  <div id="generic-countdown" class="d-flex justify-content-center mb-5 align-items-center">
    <i class="bx bx-timer resize-60px-black"></i>
    <h1 class="mb-0 ms-2" id="countdown"></h1>
  </div>
  
</div>


  <div id="text-container"></div>


</div>
