<head>
  <link href="/css/footer.css" rel="stylesheet" />
</head>

<footer class="bg-dark text-white py-5 mt-4" style="position: relative">
  <!-- tudo do footer menos o copyright -->
  <div class="container-fluid mb-4">
    <div class="row align-items-center">
      <!-- logo e slogan -->
      <div
        class="col-12 col-lg-3 ms-lg-5 text-lg-start mb-4 mb-lg-0 text-center text-lg-start"
      >
        <img
          src="/images/logo.png"
          alt="Logo Sempre a Somar"
          class="mb-2"
          width="120"
        />
        <h1 class="mb-0"><b>SEMPRE</b> A SOMAR</h1>
        <p class="mb-0">Cada palavra somada é uma vitória em construção.</p>
      </div>

      <!-- citação -->
      <div
        class="col-12 col-lg-4 d-flex justify-content-center mb-4 mt-4 mt-lg-0 pe-lg-5 pe-xl-0"
      >
        <blockquote class="blockquote text-center position-relative">
          <p class="mb-3 fst-italic" id="frase-dinamica"></p>
          <footer class="blockquote-footer text-white">
            <span class="fw-bold" id="autor_dinamico"></span>
          </footer>
        </blockquote>
      </div>

      <!-- navegação + contactos -->
      <div
        class="col-12 col-lg-4 ms-auto d-flex flex-column flex-lg-row justify-content-center justify-content-lg-end gap-2"
      >
        <!-- navegação -->
        <div class="text-center text-lg-start mb-4 mb-lg-0">
          <div class="fw-bold mb-2">NAVEGAÇÃO</div>
          <ul class="list-unstyled">
            <li>
              <a href="/rankings" class="text-secondary text-decoration-none"
                >Rankings</a
              >
            </li>

            <li>
              <a href="/ai-chat" class="text-secondary text-decoration-none"
                >AI Chat</a
              >
            </li>

            <li>
              <a href="/how-to-play" class="text-secondary text-decoration-none"
                >Como Jogar</a
              >
            </li>

            <li>
              <a href="/about-us" class="text-secondary text-decoration-none"
                >Sobre Nós</a
              >
            </li>
          </ul>
        </div>

        <!-- contactos -->
        <div class="me-lg-5 text-center text-lg-start ms-lg-3">
          <div class="fw-bold mb-2">CONTACTOS</div>
          <ul class="list-unstyled">
            <li>
              <a
                href="mailto:2133323@student.uma.pt"
                class="text-secondary text-decoration-none"
                >2133323@student.uma.pt</a
              >
            </li>
            <li>
              <a
                href="mailto:2103423@student.uma.pt"
                class="text-secondary text-decoration-none"
                >2103423@student.uma.pt</a
              >
            </li>
            <li>
              <a
                href="mailto:2107923@student.uma.pt"
                class="text-secondary text-decoration-none"
                >2107923@student.uma.pt</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- copyright -->
  <div
    class="bg-black text-secondary text-center py-2"
    style="position: absolute; bottom: 0; width: 100%"
  >
    &copy; 2025 Sempre a Somar. Todos os direitos reservados.
  </div>
</footer>
<script src="/js/footerQuote.js"></script>
