<div class="col-md-12" style="margin-bottom: 100px">
    <div class="page-title">Tecnologias utilizadas</div>
    <div class="grabbing-scroll-container">
        <div>
            <img src="/images/html_css_js.webp" class="resize-300-200 me-3" />
            <img src="/images/nodejs.png" class="resize-300-200 me-3" />
            <img src="/images/bootstrap.webp" class="resize-300-200 me-3" />
            <img src="/images/ninja.webp" class="resize-300-200 me-3" />
            <img src="/images/LMstudio.png" class="resize-300-200 me-3" />
            <img src="/images/GeoApi.png" class="resize-300-200 me-3" />
            <img src="/images/mongoDB.png" class="resize-300-200 me-3" />
            <img src="/images/figma.png" class="resize-300-200 me-3" />
            <img src="/images/socket.png" class="resize-300-200 me-3" />
            
        </div>
    </div>
</div>

<div class="col-xl-12">
    <div class="page-title">Desenvolvido por</div>
    <div class="container">
        <div class="row" style="margin-bottom: 70px">
            <div class="col-xl-4 mb-xl-0 mb-4">
                <div class="light-blue-box-background align-items-center hidden" id="box">
                    <div class="blue-box white-subtitle justify-content-between">
                        <div>Luís Miguel Gomes Sousa</div>
                        <span class="ms-2 triangle" onclick="toggleBox(this)"></span>
                    </div>
                    <h5 class="text-center mt-2 fw-semibold box-info">Aluno 2133323</h5>
                </div>
            </div>

            <div class="col-xl-4 mb-xl-0 mb-4">
                <div class="light-blue-box-background align-items-center hidden" id="box">
                    <div class="blue-box white-subtitle justify-content-between">
                        <div>João Pedro Sousa Calheta</div>
                        <span class="ms-2 triangle" onclick="toggleBox(this)"></span>
                    </div>
                    <h5 class="text-center mt-2 fw-semibold box-info">Aluno 2103423</h5>
                </div>
            </div>

            <div class="col-xl-4 mb-xl-0 mb-4">
                <div class="light-blue-box-background align-items-center hidden" id="box">
                    <div class="blue-box white-subtitle justify-content-between">
                        <div>João Tomás Freitas Vieira</div>
                        <span class="ms-2 triangle" onclick="toggleBox(this)"></span>
                    </div>
                    <h5 class="text-center mt-2 fw-semibold box-info">Aluno 2107923</h5>
                </div>
            </div>
        </div>

        <div class="text-center">
            <img src="/images/uma.png" class="img-fluid p-3" />
        </div>
        <div class="text-center mt-2">
            <h4>
                Desenvolvimento Baseado na Web<br />Licenciatura em Engenharia Informática
                <br />2024-2025
            </h4>
        </div>
    </div>
</div>
<script src="/js/grabbing-scroll.js"></script>
<script src="/js/show-hide-content.js"></script>
<script src="/js/about-us.js"></script>