<div class="error-div">
  <% if (error === 'nao-existe') { %>
  <p class="error-message">
    Utilizador não foi encontrado
  </p>

  <% } else if (error === 'perfil-inexistente') { %>
  <p class="error-message">
    O utilizador não existe
  </p>
  <% } %>
  

</div>
<p class="align-error">Redirecionando para a página Principal...</p>
<p class="align-error">Por favor, aguarde um momento.</p>




<script src="/js/error.js"></script>

