<!-- game.ejs -->
<div id="game-container"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/waiting-room.js"></script>
<script src="/js/grabbing-scroll.js"></script>
<script src="/js/game.js"></script>
<script  src="/js/brainstorming.js"></script>
<script src="/js/voting.js"></script>
<script src="/js/results.js"></script>
<script src="/js/show-hide-content.js"></script>
<script src="/js/loading.js"></script>
