<div class="page-title">Como Jogar?</div>

<div class="container">
  <div class="row text-center mt-5">
    <div class="col-lg-4 d-flex flex-column align-items-center mb-5">
      <img
        src="/images/comoJogar1.png"
        class="img-fluid mb-3 resize-200"
        alt="Deite o dicionário"
      />
      <h3 class="color-blue-subtitle">Deite o dicionário</h3>
      <h4>Preencha o campo com palavras relacionadas com o tema escolhido.</h4>
    </div>

    <div class="col-lg-4 d-flex flex-column align-items-center mb-5">
      <img
        src="/images/comoJogar2.png"
        class="img-fluid mb-3 resize-200"
        alt="Corra contra o tempo"
      />
      <h3 class="color-blue-subtitle">Corra contra o tempo</h3>
      <h4>Preencha o máximo de palavras que conseguir dentro do tempo.</h4>
    </div>

    <div class="col-lg-4 d-flex flex-column align-items-center mb-5">
      <img
        src="/images/comoJogar3.png"
        class="img-fluid mb-3 resize-200"
        alt="Confere as frases"
      />
      <h3 class="color-blue-subtitle">Confere as frases</h3>
      <h4>No final, confira as tuas frases e das tuas amigos.</h4>
    </div>
  </div>
</div>
