<!-- pre-game.ejs-->

<head>
  <link href="/css/pre-game.css" rel="stylesheet" />
</head>

<div class="container">
  <div class="row lg-4 mt-2 g-5 d-flex align-items-stretch">
    <!-- caixa 1 -->
    <div class="col-lg-6 d-flex justify-content-center text-center order-2 order-lg-1">
      <div class="flex-fill mt-3 mb-3 p-3">
        <!-- caixa de selecionar nr jogadores -->
        <div class="mb-5">
          <h4 class="fw-semibold mb-3 text-start">Número de jogadores</h4>
          <div class="white-box players-select-box">
            <div class="player-option selected" onclick="selectPlayers(this)">
              1
            </div>
            <div class="player-option" onclick="selectPlayers(this)">2</div>
            <div class="player-option" onclick="selectPlayers(this)">3</div>
            <div class="player-option" onclick="selectPlayers(this)">4</div>
          </div>
        </div>
        <!-- caixa para escrever o tema -->
        <div class="mb-5">
          <h4 class="fw-semibold mb-3 text-start">Tema</h4>
          <input class="white-box" type="text" placeholder="Escreva o tema da sessão de Brainstorming" maxlength="20" />
        </div>
        <!-- caixa para escrever o tempo -->
        <div class="mb-4">
          <h4 class="fw-semibold mb-3 text-start">Tempo</h4>
          <input class="white-box" type="text" placeholder="Escreva o tempo em segundos" />
        </div>
        <!-- botao para criar sala -->
        <button class="black-button mt-5" onclick="createRoom()">
          Criar sala
        </button>
      </div>
    </div>

    <!-- caixa 2 -->
    <div class="col-lg-6 d-flex order-1 order-lg-2">
      <div class="light-blue-box-background flex-fill">
        <div class="box-content">
          <!-- caixa para o titulo das salas disponiveis -->
          <div class="d-flex align-items-center">
            <h4 class="fw-semibold mb-0 white-box responsive-white-box text-center mb-5">
              Salas Disponíveis
            </h4>
          </div>

          <!-- caixa das salas -->
          <ol>
            <!-- caixa com os titulos da lista, infos da sala -->
            <li class="row invisible-box text-center mb-3">
              <div class="col-4">
                <h4>Tema</h4>
              </div>
              <div class="col-4">
                <h4>Tempo</h4>
              </div>
              <div class="col-4">
                <h4>Jogadores</h4>
              </div>
            </li>

            <!-- caixa com salas disponiveis-->
            <div class="grabbing-scroll-container">
              <div class="rooms-scroll"></div>
            </div>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/pre-game.js"></script>
<script src="/js/grabbing-scroll.js"></script>